html {
  min-width: 350px;
  overflow: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  border: 2px solid #817F82;
  padding: 20px 20px 0px 20px;
  height: 500px;
  overflow: scroll;
}

h5 {
  text-align: center;
}

.notice-box {
  background-color: #D3D5D4;
  border: 2px solid #817F82;
  padding: 15px;
  margin-bottom: 20px;
}

input {
  margin-top: 5px;
  margin-bottom: 20px;
}

.input-box {
  border: 2px solid #817F82;
  margin-bottom: 10px;
}

#url-inputs {
  max-height: 240px; /*height of 5 inputs*/
  overflow: scroll;
}

.input-title-box {
  background-color: #817F82;
  padding: 5px;
}

.input-box-content {
  margin: 10px 15px 15px 15px;
}

.alert-box {
  padding: 15px;
  margin-bottom: 20px;
}

.alert-box.primary {
  border: 2px solid #EE220C;
}

.alert-box.secondary {
  border: 2px solid #D3D5D4;
}

.info-box {
  padding: 15px;
}

.button {
  border-radius: 15px;
  padding-top: 6px;
  margin-top: 10px;
  margin-bottom: 0px;
}

input {
  border-radius: 15px;
  margin-bottom: 5px;
}

.alert-button {
  background-color: #EE220C;
  border-style: none;
  font-style: none;
}

.secondary-button {
  background-color: #D3D5D4;
  border-style: none;
}

.half-width {
  width: 47%;
  display: inline-block;
}

.half-width.left {
  margin-right: 2%;
}

.half-width.right {
  margin-left: 2%;
}

.info-text {
  margin-bottom: 0px;
}

.blocked-site {
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-line {
  height: 0px;
  width: 100%;
  border-top: 1px dashed black;
  margin-top: 1px;
}
