<html style="min-width: 350px; overflow: hidden;">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>
  <body id="container" class="container" style="height: 400px; overflow: scroll;">
    <h5 id="title" style="text-align: center">DM Redirect</h5>

    <div class="input-box">
      <div class="input-title-box">Your blocked sites</div>
      <div id="blocked-sites-list-content" class="input-box-content">

      </div>
    </div>
    <a href="status.html" class="button secondary-button half-width left">Back</a>
    <a href="block-sites.html" class="button alert-button half-width right">Block more</a>
  </body>
  <script src="/js/blocked-list.js"></script>
</html>
