<html style="min-width: 350px; overflow: hidden;">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>
  <body id="container" class="container" style="height: 400px; overflow: scroll;">
  <h5 id="title" style="text-align: center">DM Redirect</h5>

    <div class="input-box">
      <div class="input-title-box">Block site</div>
      <div class="input-box-content">
        <input id="block-site-input" class="u-full-width" type="text" placeholder="Web address to block, eg. dailymail.co.uk">

        <a href="#" id="block-save-button" class="button alert-button half-width left">Block</a>
        <a href="status.html" class="button secondary-button half-width right">Back</a>
      </div>
    </div>
  </body>
  <script src="/js/block-sites.js"></script>
</html>