<html style="min-width: 350px; overflow: hidden;">
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body id="container" class="container" style="height: 400px; overflow: scroll;">
<h5 id="title" style="text-align: center">DM Redirect</h5>

<div class="input-box">
  <div class="input-title-box">Redirect site</div>
  <div class="input-box-content">
    <input id="redirect-url-input" class="u-full-width" type="text">

    <a href="#" id="redirect-save-button" class="button alert-button half-width left">Save</a>
    <a href="/popup.html" class="button secondary-button half-width right">Back</a>
  </div>
</div>