<html style="min-width: 350px; overflow: hidden;">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/app/css/skeleton.css">
        <link rel="stylesheet" href="/app/css/custom.css">
    </head>
    <body class="container">
        <h5>DM Redirect</h5>

        <div class="input-box">
            <div class="input-title-box">Block site</div>
            <div class="input-box-content">
                <div id="url-inputs">
                    <input class="block-site-input u-full-width" type="text" placeholder="Web address to block, eg. dailymail.co.uk">
                </div>

                <a href="#" id="add-another-button" class="button secondary-button u-full-width">Add another</a>
            </div>
        </div>
        <a href="status.html" class="button secondary-button half-width left">Back</a>
        <a href="#" id="block-save-button" class="button alert-button half-width right">Block</a>
    </body>
    <script src="/lib/block_sites.js"></script>
</html>