<html style="min-width: 350px; overflow: hidden;">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/app/css/skeleton.css">
        <link rel="stylesheet" href="/app/css/custom.css">
    </head>
    <body class="container">
        <h5>DM Redirect</h5>

        <div class="input-box">
            <div class="input-title-box">Your blocked sites</div>
            <div id="blocked-sites-list-content" class="input-box-content">

            </div>
        </div>
        <a href="status.html" class="button secondary-button half-width left">Back</a>
        <a href="block_sites.html" class="button alert-button half-width right">Block more</a>
    </body>
    <script src="/lib/blocked_list.js"></script>
</html>
